<nav class="navbar navbar-dark bg-success">
  <a href="/" class="navbar-brand">
    Angular and Firebase
  </a>
</nav>

<div class="container">
  <div class="row">

    <div class="col-md-5 text-center">
      <div class="card mt-4">
        <div class="card-body">
          <h3>ADD A NEW TO DO</h3>
          <br>
          <img src="../assets/img/welcome.png" alt="todo img" width="300">
        </div>
      </div>
    </div>

    <div class="col-md-6 text-center">
      <div class="card mt-4">
        <div class="card-body">
          <app-todo></app-todo>
        </div>
      </div>
    </div>

  </div>
</div>

